<%= form_with model: recipe do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :categories %>
    <%= form.select :category_ids, @categories.map { |c| [c.name, c.id] }, { multiple: true } %>
  </div>

  <div>
    <%= form.label :ingredients %>
    <%= form.textarea :ingredients, value: @recipe.ingredients.map { |i| "#{i.value} #{i.unit} #{i.name}" }.join("\n") %>
  </div>

  <div>
    <%= form.label :instructions %>
    <%= form.textarea :instructions, value: @recipe.instructions.map { |i| "#{i.step}. #{i.body}" }.join("\n") %>
  </div>

  <div>
    <%= form.label :featured_image, style: "display: block" %>
    <%= form.file_field :featured_image, accept: "image/*" %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
