<%= form_with model: recipe do |form| %>
  <% if recipe.errors.any? %>
    <div>
      <%= recipe.errors.full_messages.to_sentence.capitalize %>
    </div>
  <% end %>

  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :categories %>
    <%= form.select :category_ids, categories.map { |c| [c.name, c.id] }, { multiple: true } %>
  </div>

  <div>
    <%= form.label :featured_image, style: "display: block" %>
    <%= form.file_field :featured_image, accept: "image/*" %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
