<h1><%= @recipe.name %></h1>

<%= image_tag @recipe.featured_image if @recipe.featured_image.attached? %>
<%= link_to "Back", recipes_path %>
<%= link_to "Edit", edit_recipe_path(@recipe) %>
<%= button_to "Delete", @recipe, method: :delete, data: { turbo_confirm: "Are you sure?" } %>
